<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Azure Blob Storage Image Upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Loading SASKey from the API: </h1>
      <pre id="name">...</pre>
      <br>
      <label for="image">Choose a profile picture:</label>
      <input type="file" id="image" name="image" accept="image/png, image/jpeg">
    </div>
  </section>
  <script src="./dist/main.js" type="text/javascript"></script>
    <script>
        blobUpload = function(file, url, container, sasKey) {
            var blobName = buildBlobName(file);
            var login = `${url}/${container}/${blobName}?${sasKey}`;
            var blockBlobClient = new BlockBlobClient(login, new AnonymousCredential());
            blockBlobClient.uploadBrowserData(file);
        };
        (async function () {
            const url="https://bamasterimge.blob.core.windows.net/images?sp=rw&st=2024-03-30T15:11:02Z&se=2024-03-30T23:11:02Z&sv=2022-11-02&sr=c&sig=RflIulQTlsI022N6RQRikWvyyie6KaxQz8GFDBGzCL4%3D";
            const sasKey = "sp=rw&st=2024-03-30T15:11:02Z&se=2024-03-30T23:11:02Z&sv=2022-11-02&sr=c&sig=RflIulQTlsI022N6RQRikWvyyie6KaxQz8GFDBGzCL4%3D";
            document.querySelector('#name').textContent = `SAS Key: ${sasKey}` + "\n" + `URL: ${url}`;
            function uploadFile() {
                const file = document.getElementById('image').files[0];
                blobUpload(file, url, 'images', sasKey);
            };
            const fileInput = document.getElementById('image');
            fileInput.addEventListener("change", uploadFile);
        }())
    </script>
  </body>
</html>